<h2>New Movie</h2>

<form action="/movies" method="POST">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title">

  <select multiple="" name="celebrity" id="">
    {{#each celebrity}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <label for="genre">Genre: </label>
  <input type="text" name="genre" id="genre">

  <label for="plot">Plot: </label>
  <input type="text" name="plot" id="plot">

{{!-- <label for="author">Author: </label>
  <input type="text" name="author" id="author"> --}}
  {{!-- the input is now replaces with a select -> for this we need 
  all the authors in this view --}}
  

  <button type="submit">Save movie to the database</button>
</form>